{% extends "base.html.twig" %}

{% block title %}{{ 'security.password_expired'|trans }}{% endblock %}

{% block body %}
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="login-logo">
                    <a href="{{ path('index') }}">
                        <img src="/img/CashUpLogo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="login-container">
                <div class="site-login">
                    <h1 class="form-title">{{ 'security.new_password_set_title'|trans }}</h1>
                    <p class="password-message">
                        {{ 'security.new_password_set_message'|trans }}
                    </p>
                    <div class="form-group">
                        <a class="btn-login login-link" href="{{ path('login') }}">{{ 'security.back_to_login'|trans }}</a>
                    </div>
                    <input type="hidden" name="_target_path" value="/" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
