{% extends "base.html.twig" %}

{% block title %}{{ 'security.password_expired'|trans }}{% endblock %}

{% block body %}

    <div class="login">
        <div class="container">
            <div class="row">
                <div class="login-logo">
                    <a href="{{ path('index') }}">
                        <img src="/img/CashUpLogo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="login-container">
                <div class="site-login">

                    <h1 class="form-title">{{ 'security.forgot_password_title'|trans }}</h1>
                    <p class="password-message">
                        {{ 'security.forgot_password_link'|trans }}
                    </p>
                    <p class="password-message password-sent">
                        {{ 'security.forgot_password_inbox'|trans }}
                    </p>
                    <div class="form-group">
                        <a href="{{ path('login') }}" class="btn-login login-link" name="login-button">{{ 'security.back_to_login'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
