{% extends "base.html.twig" %}

{% block title %}{{ 'security.login'|trans }}{% endblock %}

{% block body %}

    <div class="login">
        <div class="container">
            <div class="row">
                <div class="login-logo">
                    <a href="{{ path('index') }}">
                        <img src="/img/CashUpLogo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="login-container">
                <div class="site-login">
                    <h1 class="form-title">{{ 'security.set_password_title'|trans }}</h1>
                    <p class="password-message password-set">
                        {{ 'security.set_password_tip'|trans }}
                    </p>
                    {{ form_start(form, {'attr': {'id': 'login-form', 'novalidate': 'novalidate'}}) }}
                    <div class="user-password">
                        {{ form_label(form.password.first, null,  {'label': 'security.password_required_label'|trans, 'label_attr': {'class': 'control-label reset-password-name', 'id': 'title-password'}}) }}
                        {{ form_widget(form.password.first, {'id': 'password', 'attr': {'class': 'form-control', 'placeholder': 'security.enter_new_password_placeholder'|trans}}) }}
                        {{ form_errors(form.password.first) }}
                        <p class="password-error-message">
                            <span id="error-password-message-required" class="not-active">{{ 'security.new_password_not_blank'|trans }}</span>
                            <span id="error-password-message-must-contain" class="not-active">{{ 'security.new_password_min_length'|trans }}</span>
                        </p>
                    </div>
                    <div class="user-password confirm-password">
                        {{ form_label(form.password.second, null,  {'label': 'security.confirm_password_required_label'|trans, 'label_attr': {'class': 'control-label reset-password-name', 'id': 'title-confirm-password'}}) }}
                        {{ form_widget(form.password.second, {'id': 'confirm-password', 'attr': {'class': 'form-control', 'placeholder': 'security.enter_new_confirm_password_placeholder'|trans}}) }}
                        {{ form_errors(form.password.second) }}
                        <p class="password-error-message">
                            <span id="error-password-confirm-message-required" class="not-active">{{ 'security.new_confirm_password_not_blank'|trans }}</span>
                            <span id="error-password-confirm-message-must-contain" class="not-active">{{ 'security.new_confirm_password_not_identical'|trans }}</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-login" name="login-button">{{ 'security.reset_password_button_title'|trans }}</button>
                    </div>
                    {{ form_row(form._token) }}
                    <input type="hidden" name="_target_path" value="/" />
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts_additional %}
    <script src="/js/validation/password-reset.js"></script>
{% endblock %}
