{% extends "base.html.twig" %}

{% block title %}{{ 'security.password_expired'|trans }}{% endblock %}

{% block body %}
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="login-logo">
                    <a href="{{ path('index') }}">
                        <img src="/img/CashUpLogo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="login-container">
                <div class="site-login">

                    <h1 class="form-title">{{ 'security.invalid_token_title'|trans }}</h1>
                    <p class="password-message">
                        {{ 'security.invalid_token_message'|trans }}
                    </p>
                    <div class="form-group">
                        <a href="{{ path('password_reset') }}" class="btn-login">{{ 'security.request_new_token'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
