{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id' : 'facility-add-form'}}) }}
    <div class="row fas-section user-add-edit-personal-data">
        <div class="col-12 fas-section-title">
            <h2>{{ 'facility_details.title'|trans }}</h2>
        </div>
        <div class="col-12 tenant-add-edit-content">
            <table>
                <tr>
                    <td id="title-name">
                        {{ form_label(form.name) }}
                    </td>
                    <td>
                        {{ form_widget(form.name, {'id' : 'form-name', 'attr': {'class': 'fas-input'}}) }}
                    </td>
                    <td class="error-message" >
                        <span>{{ get_unique_errors(form_errors(form.name)) }}</span>
                        <span id="error-name-message-required" class="not-active">{{ 'facility.name.required'|trans }}</span>
                        <span id="error-name-message-must-contain" class="not-active">{{ 'tenant_name.min_length'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td id="title-street">
                        {{ form_label(form.address.street) }}
                    </td>
                    <td>
                        {{ form_widget(form.address.street, {'id' : 'form-street', 'attr': {'class': 'fas-input'}}) }}
                    </td>
                    <td class="error-message" >
                        {{ form_errors(form.address.street) }}
                        <span id="error-street-message-required" class="not-active">{{ 'street.required'|trans }}</span>
                        <span id="error-street-message-must-contain" class="not-active">{{ 'street.min_length'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td id="title-zip">
                        {{ form_label(form.address.zip) }}
                    </td>
                    <td>
                        {{ form_widget(form.address.zip, {'id' : 'form-zip', 'attr': {'class': 'fas-input'}}) }}
                    </td>
                    <td class="error-message" >
                        {{ form_errors(form.address.zip) }}
                        <span id="error-zip-message-required" class="not-active">{{ 'zip.required'|trans }}</span>
                        <span id="error-zip-message-must-contain" class="not-active">{{ 'zip.min_length'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td id="title-city">
                        {{ form_label(form.address.city) }}
                    </td>
                    <td>
                        {{ form_widget(form.address.city, {'id' : 'form-city', 'attr': {'class': 'fas-input'}}) }}
                    </td>
                    <td class="error-message" >
                        {{ form_errors(form.address.city) }}
                        <span id="error-city-message-required" class="not-active">{{ 'city.required'|trans }}</span>
                        <span id="error-city-message-must-contain" class="not-active">{{ 'city.min_length'|trans }}</span>
                    </td>
                </tr>
                <tr>
                    <td id="title-country">
                        {{ form_label(form.address.country) }}
                    </td>
                    <td>
                        {{ form_widget(form.address.country, {'id' : 'country-select', 'attr': {'class': 'fas-select country-select'}}) }}
                    </td>
                    <td class="error-message" id="error-country-message">
                        {{ form_errors(form.address.country) }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row fas-section user-add-edit-personal-data">
        <div class="col-12 fas-section-title">
            <h2>Routine</h2>
        </div>
        <div class="col-12 tenant-add-edit-content">
            <table>
                <tr>
                    <td id="title-name">
                        {{ form_label(form.routineTemplate) }}
                    </td>
                    <td>
                        {{ form_widget(form.routineTemplate, {'attr': {'class': 'fas-select'}}) }}
                    </td>
                    <td class="error-message">
                        {{ form_errors(form.routineTemplate) }}
                    </td>
                    <td>
                        {% if facility.routine is not null %}
                            <input type="hidden" id="routine-template-id" name="routine-template-id" value="{{ facility.routine.routineTemplate.id }}">
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if addUser is defined %}
        {% include 'includes/facility-user-add.html.twig' %}
    {% else %}
        {% include 'includes/facility-user-edit.html.twig' %}
    {% endif %}

    <div class="row user-add-edit-buttons save-cancel-buttons">
        {{ form_widget(form.save) }}
        <button onclick=location.href='{{ path("tenant_facility", {"id" : tenant.id}) }}' type="button" class="btn-cancel">{{ 'cancel_button.title'|trans }}</button>
    </div>
{{ form_end(form) }}
