<div class="row fas-section user-add-edit-login-information">
    <div class="col-12 fas-section-title">
        <h2>Login information</h2>
    </div>
    <div class="col-12 tenant-add-edit-content">
        <table>
            <tr>
                <td id="title-user-name">
                    {{ form_label(form.login) }}
                </td>
                <td class="form-row">
                    {{ form_widget(form.login, {'id' : 'form-user-name', 'attr': {'class': 'fas-input'}}) }}
                </td>
                <td class="error-message">
                    <span>{{ get_unique_errors(form_errors(form.login)) }}</span>
                    <span id="error-user-name-message-required" class="not-active">{{ 'tenant.users_edit_username_not_blank'|trans }}</span>
                    <span id="error-user-name-message-must-contain" class="not-active">{{ 'tenant.users_edit_username_length'|trans }}</span>
                </td>
            </tr>
            <tr>
                <td id="title-password" class="{% if required is defined and required == false %}not-required{% endif %}">
                    {{ form_label(form.passwordHash.first, null, { 'required': required is defined ? required : true  }) }}
                </td>
                <td class="form-row">
                    {{ form_widget(form.passwordHash.first, {'id' : 'form-password', 'attr': {'class': 'fas-input'}}) }}
                </td>
                <td class="error-message" id="error-password-message">
                    <span>{{ get_unique_errors(form_errors(form.passwordHash.first)) }}</span>
                    <span id="error-password-message-required" class="not-active">{{ 'tenant.users_edit_password_not_blank'|trans }}</span>
                    <span id="error-password-message-must-contain" class="not-active">{{ 'tenant.users_edit_password_length'|trans }}</span>
                </td>
            </tr>
            <tr>
                <td id="title-confirm-password" class="{% if required is defined and required == false %}not-required{% endif %}">
                    {{ form_label(form.passwordHash.second, null, { 'required': required is defined ? required : true  }) }}
                </td>
                <td class="form-row">
                    {{ form_widget(form.passwordHash.second, {'id' : 'form-confirm-password', 'attr': {'class': 'fas-input'}}) }}
                </td>
                <td class="error-message">
                    <span>{{ get_unique_errors(form_errors(form.passwordHash.second)) }}</span>
                    <span id="error-password-confirm-message-required" class="not-active">{{ 'tenant.users_edit_password_confirm_not_blank'|trans }}</span>
                    <span id="error-password-confirm-message-must-contain" class="not-active">{{ 'tenant.users_edit_password_not_identical'|trans }}</span>
                </td>
            </tr>
        </table>
    </div>
</div>