{% extends "base.html.twig" %}

{% use "common/header.html.twig" %}
{% use "common/menu.html.twig" %}

{% block title %}{{ 'facility_edit.title'|trans }}{% endblock %}

{% block stylesheets_additional %}
    <link rel="stylesheet" href="/css/add-edit-entity.css">
{% endblock %}

{% block body %}
    <div class="site-content">
        {% block header %}
            {% set current_tenant = tenant %}
            {{ parent() }}
        {% endblock %}

        {% block menu %}
            {% set current_tenant = tenant %}
            {{ parent() }}
        {% endblock %}

        <div class="user-add-edit">
            <div class="container">
                <div class="row fas-header">
                    <div class="col-10 fas-title">
                        <h1>{{ 'facility_edit_reverse.title'|trans }}: {{ facility.name }}</h1>
                    </div>
                    <div class="col-2 fas-required-message">
                        <p><span class="red-color">*</span> {{ 'edit_account.required'|trans }}</p>
                    </div>
                </div>
                {% include 'includes/facility-form.html.twig' with {'form' : form } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_additional %}
    <script src="/js/validation/tenant-edit.js"></script>
    <script src="/js/user-assignment.js"></script>
    <script src="/js/facility-edit.js"></script>
{% endblock %}
