{% extends "base.html.twig" %}

{% use "common/header.html.twig" %}
{% use "common/menu.html.twig" %}

{% block title %}{{ 'report_period_closed_title'|trans }}{% endblock %}

{% block body %}
    <div class="site-content">
        {% set current_facility = facility %}
        {% set current_tenant = facility.tenant %}

        {% block header %}
            {{ parent() }}
        {% endblock %}

        {% block menu %}
            {{ parent() }}
        {% endblock %}
        <div class="container">
            <div class="row">
                <h1 class="mt-5">{{ 'report_period_closed_title'|trans }}</h1>
            </div>
            <div class="row">
                <div class="mt-3">
                    <p>{{ 'report_period_closed_text'|trans }}</p>
                    <p>{{ 'kind_regards'|trans }}</p>
                    <p>{{ 'bbc_team'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

